<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.spring.main.dao.BoardInterface">
 
 	<!-- 로그인 처리 -->
 	<select id="login" resultType="String">
 		SELECT u_id FROM USER1 
 			WHERE u_id=#{param1} AND u_pass=#{param2}
 	</select>
	    
</mapper>