<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.spring.main.dao.BoardInterface">
 
 	<!-- 로그인 처리 -->
 	<select id="login" resultType="com.spring.main.dto.LoginDto">
 		SELECT u_id, u_idx, u_grade, u_name FROM SGM_user 
 			WHERE u_id=#{param1} AND u_pass=#{param2}
 	</select>
 	
 	<!-- 로그아웃 -->
 	<select id="logout" resultType="String">
 		SELECT u_id FROM SGM_user WHERE u_idx=#{param1}
 	</select>
 	
 	<!-- 중복 체크 -->
  	<select id="overlay" resultType="String">
 		SELECT u_id FROM SGM_user WHERE u_id=#{param1}
 	</select>
 	
 	<!-- 회원가입 -->
 	<insert id="userJoin" parameterType="com.spring.main.dto.UserDto">
 		INSERT INTO SGM_user(u_idx,u_id,u_pass,u_name,u_age,u_gender,u_phnum,u_mail,u_grade)
 			VALUES(
 				user_seq.NEXTVAL,#{u_id},#{u_pass},#{u_name},#{u_age},#{u_gender},#{u_phnum},#{u_mail},#{u_grade}
 			)
 	</insert>
	
	
	<!-- 유저 정보 -->
	<select id="userSearch" resultType="com.spring.main.dto.UserDto">
		SELECT * FROM SGM_user WHERE u_id= #{param1}
	</select>    
	
	<!-- 유저가 속한 팀 정보 -->
	<select id="selectTeam" resultType="com.spring.main.dto.SelectTeamDto">
		SELECT m.t_idx, t.t_name FROM member m, team t WHERE m.u_idx=(SELECT u_idx FROM SGM_user WHERE u_idx=#{param1}) and m.t_idx=t.t_idx
	</select>
	
	<!-- 유저 정보 수정 -->
	<update id="userModify" parameterType="com.spring.main.dto.UserDto">
		UPDATE SGM_user SET u_pass=#{u_pass}, u_mail=#{u_mail}, u_phnum=#{u_phnum} WHERE u_id=#{u_id}
	</update>
	
	<!-- 유저의 메일과 이름으로 아이디 찾기 -->
	<select id="idFind" resultType="String">
		SELECT u_id FROM SGM_user WHERE u_name=#{param1} AND u_mail=#{param2}
	</select>
	
	<!-- 유저의 메일과 아이디로 비밀번호 찾기 -->
	<select id="passFind" resultType="String">
		SELECT u_pass FROM SGM_user WHERE u_id=#{param1} AND u_mail=#{param2}
	</select>
	
	<!-- 댓글 등록 -->
	<insert id="replyRegist">
		INSERT INTO reple(r_idx, ${param1}, u_idx, r_writer, r_reple) VALUES(reple_seq.NEXTVAL, #{param2}, #{param3}, #{param4}, #{param5})
	</insert>
	
	<!-- 댓글 수 업 -->
	<update id="replyUp">
		UPDATE ${param1} SET ${param2}= ${param2}+1 WHERE totalIdx=#{param3}
	</update>
	
	<!-- 댓글 수 다운 -->
	<update id="repleDown">
		UPDATE ${param1} SET ${param2}= ${param2}-1 WHERE totalIdx=#{param3}
	</update>
	
	<!-- 댓글 리스트 -->
	<select id="replyList" resultType="com.spring.main.dto.RepleDto">
		SELECT * FROM reple WHERE ${param1}=#{param2}ORDER BY r_idx ASC
	</select>
	
	<!-- 댓글 삭제(개인) -->
	<delete id="replyDel">
		DELETE FROM reple WHERE r_idx=#{param1}
	</delete>
</mapper>