<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.main.dao.ManagerInterface">
	<!-- 유저수 -->
	<select id="us_allCnt" resultType="Integer">
		SELECT COUNT(*) FROM SGM_user
	</select>
	
	<!-- 유저 리스트 -->
	<select id="us_listCall" resultType="com.spring.main.dto.UserDto">
		SELECT u_idx,u_id , u_pass, u_name, u_age, u_gender, u_phnum, u_mail, u_grade FROM (
			SELECT u_idx, u_id , u_pass, u_name, u_age, u_gender, u_phnum, u_mail, u_grade, ROW_NUMBER() OVER(ORDER BY u_idx DESC) AS rnum FROM SGM_user
  		)WHERE rnum BETWEEN #{param1} AND #{param2}
	</select>
	
	<!-- 유저수 검색 -->
	<select id="us_searhCount" resultType="Integer">
		SELECT COUNT(*) FROM SGM_user WHERE ${param2} like '%'||#{param1}||'%'
	</select>
	
	<!-- 유저 검색 리스트 -->
	<select id="us_searhCall" resultType="com.spring.main.dto.UserDto">
		SELECT u_idx,u_id , u_pass, u_name, u_age, u_gender, u_phnum, u_mail, u_grade FROM (
			SELECT u_idx, u_id , u_pass, u_name, u_age, u_gender, u_phnum, u_mail, u_grade, ROW_NUMBER() OVER(ORDER BY u_idx DESC) AS rnum FROM SGM_user
  		WHERE ${param4} like '%'||#{param3}||'%' )WHERE rnum BETWEEN #{param1} AND #{param2}
	</select>
	
	<!-- 유저 삭제 -->
	<delete id="usDelete">
		DELETE FROM SGM_user WHERE u_idx=#{param1}
	</delete>
	
	<!-- 유저가 쓴 댓글 삭제 -->
	<delete id="usRepleDelete">
		DELETE FROM reple WHERE u_idx=#{param1}
	</delete>
	
	<!-- 팀수 -->
	<select id="TManger_allCnt" resultType="Integer">
		SELECT COUNT(*) FROM team
	</select>
	
	<!-- 팀수 검색 -->
	<select id="TManger_searhCount" resultType="Integer">
		SELECT COUNT(*) FROM team WHERE t_name like '%'||#{param1}||'%'
	</select>
	
	<!-- 팀(관리) 리스트 -->
	<select id="TManger_listCall" resultType="com.spring.main.dto.TManagerDto">
		SELECT t_idx, t_name, t_area, m_name, m_idx, u_idx FROM (SELECT t.t_idx, t.t_name, t.t_area, m.m_name, m.m_idx, m.u_idx, ROW_NUMBER() 
		OVER(ORDER BY t.t_idx DESC) AS rnum FROM team t, member m WHERE m.m_grade='대표' AND m.t_idx=t.t_idx)
		WHERE rnum BETWEEN #{param1} AND #{param2}
	</select>
	
	<select id="TManger_searhCall" resultType="com.spring.main.dto.TManagerDto">
		SELECT t_idx, t_name, t_area, m_name, m_idx, u_idx FROM (SELECT t.t_idx, t.t_name, t.t_area, m.m_name, m.m_idx, m.u_idx, ROW_NUMBER() 
		OVER(ORDER BY t.t_idx DESC) AS rnum FROM team t, member m WHERE m.m_grade='대표' AND m.t_idx=t.t_idx AND t.t_name like '%'||#{param3}||'%' )
		WHERE rnum BETWEEN #{param1} AND #{param2}
	</select>
	
	
</mapper>