<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.spring.main.dao.VidioInterface">
 
 	<!-- 게시물 전채 개수 -->
	<select id="v_allCount" resultType="Integer">
		SELECT COUNT(*) FROM board
	</select>
	
	<!-- 검색 후 게시물 전채 개수 -->
	<select id="v_searhCount" resultType="Integer" >
		SELECT COUNT(*) FROM board WHERE ${param2} like '%'||#{param1}||'%'
	</select>
	
	<!-- 리스트 불러오기 -->
	<select id="v_listCall" resultType="com.spring.main.dto.vidioDTO">
		SELECT j_idx, u_idx, j_name, j_category, j_title, j_content, j_date, 
 		j_filenum, j_vcount, j_reple
 			FROM (
  				SELECT j_idx,
  				u_idx, j_name,
  				j_category,
  				j_title,
  				j_content, 
  				j_date,
  				j_filenum,
  				j_vcount,
  				j_reple,
  					ROW_NUMBER() OVER(ORDER BY j_idx DESC)AS rnum FROM board)
		WHERE rnum BETWEEN #{param1} AND #{param2}
	</select>
	
	<!-- 검색 후 리스트 추가 -->
	<select id="v_searhCall" resultType="com.spring.main.dto.vidioDTO">
		SELECT j_idx, u_idx, j_name, j_category, j_title, j_content, j_date, 
 		j_filenum, j_vcount, j_reple FROM (
			SELECT j_idx,
  				u_idx, j_name,
  				j_category,
  				j_title,
  				j_content, 
  				j_date,
  				j_filenum,
  				j_vcount,
  				j_reple, 
  					ROW_NUMBER() OVER(ORDER BY mch_idx DESC) AS rnum FROM board
  		WHERE ${param4} like '%'||#{param3}||'%' )WHERE rnum BETWEEN #{param1} AND #{param2}
	</select>
	
	 <!-- 상세 보기 -->
    <select id="freeDetail" resultType="com.spring.main.dto.vidioDTO">
       SELECT * FROM board WHERE j_idx = #{param1}
    </select>
    
    <!-- 조회수 올리기 -->
    <update id="j_vcount">
       UPDATE board SET j_vcount = j_vcount+1 WHERE j_idx = #{param1}
    </update>

    <!-- 글쓰기 -->
    <insert id="write">
       INSERT INTO board(
       j_idx, j_title, j_name, j_content, j_vcount, j_reple)
          VALUES(board_seq.NEXTVAL, #{param1}, #{param2}, #{param3}
          ,0,0)
    </insert>
    
    <!-- 글삭제 -->
   <delete id="delete">
      DELETE FROM board WHERE j_idx = #{param1}
   </delete> 
   
   <!-- 글 수정 -->
    <update id="update">
       UPDATE board SET j_title = #{param1}, j_name = #{param2}, j_content = #{param3}
          WHERE j_idx = #{param3}
    </update>   
	
 </mapper>